dev/equipment.html
<!DOCTYPE html>
<html>
  <head>
    <title>Скайтек- тахографы в уфе</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic,100&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/jquery.circliful.css">
    <link rel="stylesheet" href="static/css/bootstrap_col_15.css">
  </head>
  <body><a href="#" class="left_swap"></a>
    <header>
      <div class="wrapper">
        <div class="header raw col-md-12">
          <div class="logo col-md-2 col-sm-2 col-xs-3"><a href="#" title="На главную"><img alt="тахографы уфа" title="купить тахограф" src="static/images/logo.png"/></a></div>
          <div class="slogan col-md-3 col-sm-4 col-xs-3">
            <p class="t25">Тахографы в Уфе для юридических и физических лиц</p>
          </div>
          <div class="timen t25 col-md-3 col-sm-4 col-xs-3">
            <div class="curtime"></div><span class="time">9:00</span>
            <div class="longa"><span class="longa-fill"></span></div><span class="time">18:00</span>
            <div class="clr"></div>
            <div class="probki"><a href="#" title="">Проехать без пробок</a></div>
          </div>
          <div class="ssilki col-md-2 col-sm-3 col-xs-3 t25">
            <div class="formochki">
              <div class="forma1"><a href="#" title="">Задать вопрос</a></div>
              <div class="forma2"><a href="#" title="">Заказать звонок</a></div>
            </div>
          </div>
          <div class="phones t25 col-md-2 col-sm-3 col-xs-4">
            <p><b>+7 (347) 299-03-43</b> Уфа</p>
            <p><b>+7 (978) 982-78-03</b> Крым</p>
          </div>
        </div>
        <div class="menu-wrapper default">
          <ul class="menu">
            <li><a href="ya">О компании</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Оборудование</a></li>
            <li><a href="#">отраслевые решения</a></li>
            <li><a href="#">новости</a></li>
            <li><a href="#">статьи</a></li>
            <li><a href="#">законодательство</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="touch-menu">
          <ul>
            <li><a href="ya">О компании</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Оборудование</a></li>
            <li><a href="#">отраслевые решения</a></li>
            <li><a href="#">новости</a></li>
            <li><a href="#">статьи</a></li>
            <li><a href="#">законодательство</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
    </header>
    <main class="wrapper">
      <div class="equipment bg">
        <div class="equipment__list-item">
          <div class="equipment__item">
            <div class="equipment__item_title equipment__item_title--1">Купить тахографы, цены и установка в Уфе</div>
            <ul class="equipment__item_list">
              <li><a href="#">Меркурий ТА-001 с СКЗИ без GPRS модема</a></li>
              <li><a href="#">Тахограф Меркурий ТА-001 с СКЗИ и GPRS модемом</a></li>
              <li><a href="#">Тахограф Штрих-Тахо RUS с СКЗИ без GPRS модема</a></li>
              <li><a href="#">Тахограф Штрих-Тахо RUS с СКЗИ и GPRS модемом</a></li>
              <li><a href="#">Тахограф АТОЛ Drive 5</a></li>
              <li><a href="#">Карта водителя</a></li>
              <li><a href="#">Карта предприятия</a></li>
            </ul>
          </div>
          <div class="equipment__item">
            <div class="equipment__item_title equipment__item_title--2">Бортовые терминалы, gps трекеры автомобильные в Уфе</div>
            <ul class="equipment__item_list">
              <li><a href="#">Терминал ASC-1</a></li>
              <li><a href="#">Терминал ASC-3 ГЛОНАСС/GPS</a></li>
              <li><a href="#">Терминал ASC-7G ГЛОНАСС/GPS 3G</a></li>
              <li><a href="#">Терминал ASC-7S ГЛОНАСС/GPS</a></li>
              <li><a href="#">Терминал GalileoSky GPS/ГЛОНАСС v5.0</a></li>
            </ul>
          </div>
          <div class="equipment__item">
            <div class="equipment__item_title equipment__item_title--3">Дополнительное оборудование</div>
            <ul class="equipment__item_list">
              <li><a href="#">Сетевой фильтр СФ-02</a></li>
              <li><a href="#">Комплект громкой связи</a></li>
              <li><a href="#">Преобразователь сигнала CAN шины</a></li>
              <li><a href="#">Тревожная кнопка</a></li>
              <li><a href="#">Цифровая фотокамера GalileoSky v3.0.3</a></li>
            </ul>
          </div>
          <div class="equipment__item">
            <div class="equipment__item_title equipment__item_title--4">Контроль топлива.<br/>Датчики расхода топлива в Уфе</div>
            <ul class="equipment__item_list">
              <li><a href="#">Датчик расхода топлива OVAL LSF-45</a></li>
              <li><a href="#">Датчик расхода топлива СРТ-8</a></li>
            </ul>
          </div>
          <div class="equipment__item">
            <div class="equipment__item_title equipment__item_title--5">Купить датчик уровня топлива в Уфе</div>
            <ul class="equipment__item_list">
              <li><a href="#">ДУТ Omnicomm LLS 20160 700 мм (цифровой)</a></li>
              <li><a href="#">ДУТ Omnicomm LLS-AF 20310 700мм (аналоговый)</a></li>
            </ul>
          </div>
          <div class="equipment__item">
            <div class="equipment__item_title equipment__item_title--6">Дополнительные датчики</div>
            <ul class="equipment__item_list">
              <li><a href="#">Датчик контроля температуры</a></li>
              <li><a href="#">Датчик открывания/закрывания дверей</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main__item">
        <h2>
           
          Хиты продаж
        </h2>
        <div class="main__item_group">
          <div class="hits">
            <div class="hits__name">Карта водителя</div>
            <div style="background: url('static/images/hits_1.png') no-repeat center" class="hits__item"></div>
            <div class="hits__links"><a href="#" title="Подробнее" class="hits__links_link">Подробнее</a><a href="#" title="Заказать" class="hits__links_button but1">заказать</a></div>
          </div>
          <div class="hits">
            <div class="hits__name">Карта предприятия</div>
            <div style="background: url('static/images/hits_2.png') no-repeat center" class="hits__item"></div>
            <div class="hits__links"><a href="#" title="Подробнее" class="hits__links_link">Подробнее</a><a href="#" title="Заказать" class="hits__links_button but1">заказать</a></div>
          </div>
          <div class="hits">
            <div class="hits__name">Тахограф</div>
            <div class="hits__item"></div>
            <div class="hits__links"><a href="#" title="Подробнее" class="hits__links_link">Подробнее</a><a href="#" title="Заказать" class="hits__links_button but1">заказать</a></div>
          </div>
          <div class="hits">
            <div class="hits__name">Карта предприятия</div>
            <div class="hits__item"></div>
            <div class="hits__links"><a href="#" title="Подробнее" class="hits__links_link">Подробнее</a><a href="#" title="Заказать" class="hits__links_button but1">заказать</a></div>
          </div>
        </div>
      </div>
      <div class="main__item">
        <h2>Партнеры</h2>
        <div class="main__item_group main__item_group--flex"><img src="static/images/partners_1.png" alt="parners_1" class="partners"><img src="static/images/partners_2.png" alt="parners_2" class="partners"><img src="static/images/partners_3.png" alt="parners_3" class="partners"><img src="static/images/partners_4.png" alt="parners_4" class="partners"><img src="static/images/partners_5.png" alt="parners_5" class="partners"><img src="static/images/partners_6.png" alt="parners_6" class="partners">
        </div>
      </div>
    </main>
    <footer>
      <div class="bg2">
        <div class="wrapper">
          <div class="container col-md-12">
            <div class="formas2">
              <h2>Не тратьте время!</h2>
              <h5>получите бесплатную консультацию по телефону! Звонок за наш счет</h5>
              <form id="callbackForm11" action="/sendmail.php" method="post">
                <div class="col-md-3 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 nopad">
                  <input id="name" type="text" maxlength="183" name="name" placeholder="Ваше имя" required=""/>
                </div>
                <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 nopad">
                  <input id="phone" type="tel" maxlength="183" name="phone" placeholder="Телефон" pattern="[0-9]{5,10}" required=""/>
                </div>
                <div class="col-md-2 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 nopad">
                  <button type="submit" class="but1">Получить консультацию</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="row botmenus">
          <div class="col-md-3 col-sm-3 botmenusitem">
            <h2>Услуги</h2>
            <ul>
              <li><a href="#" title="">Установка тахографов</a></li>
              <li><a href="#" title="">Ремонт автоэлектрики</a></li>
              <li><a href="#" title="">Установка оборудования</a></li>
              <li><a href="#" title="">Перевод обслуживания</a></li>
              <li><a href="#" title="">Внедрение программного обеспечения</a></li>
              <li><a href="#" title="">Интеграция ПО</a></li>
              <li><a href="#" title="">Доработка программного обеспечения</a></li>
              <li><a href="#" title="">Разработка нового ПО</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3 botmenusitem">
            <h2>Оборудование</h2>
            <ul>
              <li><a href="#" title="">Тахографы</a></li>
              <li><a href="#" title="">Бортовые терминалы</a></li>
              <li><a href="#" title="">Доп. оборудование</a></li>
              <li><a href="#" title=""> Датчики расхода топлива</a></li>
              <li><a href="#" title="">Датчики уровня топлива</a></li>
              <li><a href="#" title="">Дополнительные датчики</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3 botmenusitem">
            <h2>ООО «Скайтек»</h2>
            <p>450078, Башкортостан, Уфа, ул. Владивостокская 3А</p><br/><a href="#">info@navtech-rb.ru</a><br/><a href="#">support@navtech-rb.ru</a>
          </div>
          <div class="col-md-3 col-sm-3 botmenusitem">
            <h2>Телефоны</h2>
            <p>+7 (347) 299-03-43</p><a href="#" title="заказать" class="but1">Заказать звонок</a><br/><b> Отдел продаж:</b><br/>+7 (347) 299-03-43<br/><b>Тех.поддержка:</b><br/>8 (800) 700-01-73
          </div>
        </div>
      </div>
      <div class="copyright">© navtech-rb.ru. Все права защищены 2013-2016</div>
    </footer>
  </body>
</html>

frontend/blocks/equipment/equipment.jade
mixin equipment

	.equipment.bg
		.equipment__list-item
			.equipment__item
				.equipment__item_title.equipment__item_title--1
					| Купить тахографы, цены и установка в Уфе
				ul.equipment__item_list
					li: a(href="#") Меркурий ТА-001 с СКЗИ без GPRS модема
					li: a(href="#") Тахограф Меркурий ТА-001 с СКЗИ и GPRS модемом
					li: a(href="#") Тахограф Штрих-Тахо RUS с СКЗИ без GPRS модема
					li: a(href="#") Тахограф Штрих-Тахо RUS с СКЗИ и GPRS модемом
					li: a(href="#") Тахограф АТОЛ Drive 5
					li: a(href="#") Карта водителя
					li: a(href="#") Карта предприятия
			.equipment__item
				.equipment__item_title.equipment__item_title--2
					| Бортовые терминалы, gps трекеры автомобильные в Уфе
				ul.equipment__item_list
					li: a(href="#") Терминал ASC-1
					li: a(href="#") Терминал ASC-3 ГЛОНАСС/GPS
					li: a(href="#") Терминал ASC-7G ГЛОНАСС/GPS 3G
					li: a(href="#") Терминал ASC-7S ГЛОНАСС/GPS
					li: a(href="#") Терминал GalileoSky GPS/ГЛОНАСС v5.0
			.equipment__item
				.equipment__item_title.equipment__item_title--3
					| Дополнительное оборудование
				ul.equipment__item_list
					li: a(href="#") Сетевой фильтр СФ-02
					li: a(href="#") Комплект громкой связи
					li: a(href="#") Преобразователь сигнала CAN шины
					li: a(href="#") Тревожная кнопка
					li: a(href="#") Цифровая фотокамера GalileoSky v3.0.3
			.equipment__item
				.equipment__item_title.equipment__item_title--4
					| Контроль топлива.
					br
					| Датчики расхода топлива в Уфе
				ul.equipment__item_list
					li: a(href="#") Датчик расхода топлива OVAL LSF-45
					li: a(href="#") Датчик расхода топлива СРТ-8
			.equipment__item
				.equipment__item_title.equipment__item_title--5
					| Купить датчик уровня топлива в Уфе
				ul.equipment__item_list
					li: a(href="#")| ДУТ Omnicomm LLS 20160 700 мм (цифровой)
					li: a(href="#")| ДУТ Omnicomm LLS-AF 20310 700мм (аналоговый)
			.equipment__item
				.equipment__item_title.equipment__item_title--6
					| Дополнительные датчики
				ul.equipment__item_list
					li: a(href="#") Датчик контроля температуры
					li: a(href="#") Датчик открывания/закрывания дверей
